body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}
@font-face {
    font-family: TrajanPro;
    src: url('../fonts/TrajanPro-Regular.ttf');
}
.h2 .h3 {font-family: TrajanPro}
.text-muted {
    color: #777
}

.text-primary {
    color: #fed136
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}

a {
    color: #fed136
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #f7f7f7
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff
}

.navbar-default {
    background-color: #222;
    border-color: transparent
}

.navbar-default .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
    outline: 0
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #222;
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

header {
    background-image: url(../img/10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    color:#ffffff;
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    color:#FF8138;
}

@media (min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px
    }
}

section {
    padding: 100px 0
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}

@media (min-width:768px) {
    section {
        padding: 64px 0
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}

.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table
}

.timeline>li:after {
    clear: both
}

.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline>li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0
}

@media (min-width:768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}

@media (min-width:992px) {
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }
    .timeline>li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width:1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

aside.clients img {
    margin: 50px auto
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    padding: 25px 0;
    text-align: center
}

footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #fed136
}

::selection {
    text-shadow: none;
    background: #fed136
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #fed136
}
.preview {
    width: 360px;
    height: 250px;
}
.lj-countdown {
    color: #fff;
    margin-top: 75px;
    text-align: center;
}

.lj-countdown > * {
    text-align: center;
}

.lj-countdown div {
    display: inline-block;
}

.lj-countdown div span {
    width: 150px;
    display: block;
}

.lj-countdown div span:first-child {
    height: 64px;
    font-family: Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 4em;
    line-height: 64px;
}

.lj-countdown div span:last-child {
    height: 20px;
    font-family: Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 20px;
}
/*
	Author: Lumberjacks
	Template: Red Cap (Coming Soon)
	Version: 1.0
	URL: http://themeforest.net/user/Lumberjacks/
*/



/* TABLE OF CONTENTS

	1. Import section
	2. Basic styles
	3. Typography
	4. Breakpoint for high-res devices
	5. Header
	6. Main
	7. Footer
	8. Breakpoints

*/



/* 1. IMPORT SECTION */

@import url("bootstrap.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700&subset=latin,latin-ext");
@import url("font-awesome.min.css");



/* 2. BASIC STYLES */

body {
    font: 16px/1.5 Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    background-color: #fff;
    color: #262626;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: #00acee;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
}

a:hover {
    color: #00acee;
}

a, a:hover, a:active, a:focus {
    outline: 0;
    border: 0;
    text-decoration: none;
}

.lj-float-left {
    float: left;
}

.lj-float-right {
    float: right;
}

.lj-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lj-show {
    display: block !important;
}

.lj-hide {
    display: none !important;
    visibility: hidden !important;
}

.lj-preloader {
    background: #fff url('../img/preloader.gif') no-repeat center center;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}



/* 3. TYPOGRAPHY */

p {
    line-height: 1.5;
}

.lj-text-uppercase {
    text-transform: uppercase;
}

.lj-text-center {
    text-align: center;
}

.lj-text-left {
    text-align: left;
}

.lj-text-right {
    text-align: right;
}

.lj-text-justify {
    text-align: justify;
}

.lj-text-underline {
    text-decoration: underline;
}



/* 4. BREAKPOINT FOR HIGH-RES DEVICES */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .lj-logo-1x {
        display: none !important;
    }

    .lj-logo-2x {
        display: block !important;
    }

}



/* 5. HEADER */

header {
    width: 100%;
    min-height: 700px;
    overflow: hidden;
    position: relative;
    background-color: #000 !important;
}

header > .container {
    min-height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lj-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.lj-background-repeat {
    background-repeat: repeat;
}

.lj-background-no-repeat {
    background-repeat: no-repeat;
}

.lj-overlay-none {
    display: none;
    visibility: hidden;
}

.lj-overlay-image {
    background-image: url('../img/lines.png');
    background-repeat: repeat;
}

.lj-overlay-color {
    background-color: rgba(0,0,0,0.6);
}

.lj-overlay-gradient {
    background: -moz-linear-gradient(215deg,  rgba(149,50,89,0.7) 0%, rgba(89,50,60,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(149,50,89,0.7)), color-stop(100%,rgba(89,50,60,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(215deg,  rgba(149,50,89,0.7) 0%,rgba(89,50,60,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(215deg,  rgba(149,50,89,0.7) 0%,rgba(89,50,60,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(215deg,  rgba(149,50,89,0.7) 0%,rgba(89,50,60,0.7) 100%); /* IE10+ */
    background: linear-gradient(215deg,  rgba(149,50,89,0.7) 0%,rgba(89,50,60,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34e054', endColorstr='#a32383',GradientType=1 ) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1x1.png'); /* IE6-9 fallback on horizontal gradient */
    pointer-events:none;
}

header.yt-background {
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mobile .mbYTP_wrapper,
.tablet .mbYTP_wrapper {
    z-index: -1 !important;
}

.mobile .yt-controls,
.tablet .yt-controls {
    display: none;
}

.yt-controls {
    margin-top: 50px;
    text-align: right;
}

.yt-controls a {
    display: inline-block;
    color: #fff;
    width: 20px;
}

.yt-controls a:hover {
    color: #00acee;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    background: url('../img/1.jpg') no-repeat;
    background-size: cover;
}

.lj-logo a,
.lj-logo img {
    width: 100px;
    height: 60px;
}

.lj-logo a {
    display: block;
    margin-left: 10px;
}

.lj-logo img {
    vertical-align: bottom;
}

.lj-logo-1x {
    display: block;
}

.lj-logo-2x {
    display: none;
}

.lj-socials ul {
    height: 25px;
    list-style: none;
    margin: 0 10px 0;
}

.lj-socials ul li {
    height: 25px;
    font-size: 1.25em;
    line-height: 25px;
    float: left;
    margin-left: 15px;
}

.lj-socials ul li a {
    color: #fff;
}

.lj-socials ul li a:hover {
    color: #00acee;
}

.lj-title {
    margin-top: 50px;
}

.lj-title h1 {
    font-family: 'Raleway';
    font-size: 3.5em;
    font-weight: 300;
    color: #fff;
    margin: 0;
    word-wrap: break-word;
}

.lj-title span {
    color: #00acee;
    font-weight: 700;
}

.lj-title-paragraph {
    margin-top: 20px;
}

.lj-title-paragraph p {
    color: #fff;
    font-size: 1.15em;
    margin: 0;
}

.lj-countdown {
    color: #fff;
    margin-top: 75px;
    text-align: center;
}

.lj-countdown > * {
    text-align: center;
}

.lj-countdown div {
    display: inline-block;
}

.lj-countdown div span {
    width: 150px;
    display: block;
}

.lj-countdown div span:first-child {
    height: 64px;
    font-family: Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 4em;
    line-height: 64px;
}

.lj-countdown div span:last-child {
    height: 20px;
    font-family: Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 20px;
}

.lj-header-button {
    margin-top: 75px;
    text-align: center;
}

.lj-header-button a {
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: transparent;
    font-family: 'Raleway';
    font-weight: 700;
    padding: 10px 20px;
    border: 2px solid #00acee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lj-header-button a:hover {
    color: #fff;
    background-color: #00acee;
    border: 2px solid #00acee;
}



/* 6. MAIN */

.main {
    background-color: #fff;
}

.main > .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.lj-icon-box-heading {
    margin-bottom: 100px;
}

.lj-icon-box-heading h1 {
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    word-wrap: break-word;
}

.lj-icon-box-heading h1 span {
    font-weight: 700;
    color: #00acee;
}

.lj-icon-box-heading p {
    font-size: 1.15em;
    margin: 50px 0 0 0;
}

.lj-icon-box-heading,
.lj-icon-box {
    padding: 0 10px;
}

.lj-icon-box span {
    display: inline-block;
    font-size: 2em;
    width: 80px;
    height: 80px;
    line-height: 76px;
    border-radius: 50%;
    text-align: center;
    color: #00acee;
    border: 2px solid #d9d9d9;
    background-color: #fff;
}

.lj-icon-box h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.3em;
    word-wrap: break-word;
    color: #000;
}

.lj-icon-box p {
    color: #000;
}

.lj-icon-box h2,
.lj-icon-box p {
    margin: 20px 0 0;
    padding: 0 10px;
}

.lj-icon-box p a {
    font-weight: 700;
}



/* 7. FOOTER */

footer {
    width: 100%;
    background-color: #262626;
}

footer > .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer h3 {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 2em;
    color: #fff;
    margin: 0;
    padding: 0 10px;
}

footer h3 span {
    color: #00acee;
    font-weight: 700;
}

.lj-subtitle-paragraph p {
    color: #808080;
    margin: 50px 0;
}

.lj-form input[type=text] {
    width: 300px;
    height: 50px;
    display: block;
    padding: 0 10px;
    background-color: #fff;
    border: 3px solid #fff;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 44px;
    color: #262626;
    float: left;
}

.lj-form input:focus {
    outline: 0;
}

.lj-form input[type=submit] {
    width: 160px;
    height: 50px;
    display: block;
    padding: 0 10px;
    border: 2px solid #00acee;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: transparent;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    float: right;
}

.lj-form input[type=submit]:hover {
    background-color: #00acee;
    border: 2px solid #00acee;
    color: #fff;
}

.lj-form form div {
    width: 460px;
    height: 50px;
}

.lj-message {
    width: 100%;
    padding: 13px 10px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.lj-address {
    margin-top: 50px;
}

.lj-address ul {
    color: #808080;
    padding-left: 0;
    margin-left: 2.14285714em;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: inline-block;
}

.lj-address:first-child {
    text-align: right;
}

.lj-address ul > li {
    position: relative;
    text-align: left;
}

.lj-address i {
    line-height: 1.5em;
}



/* 8. BREAKPOINTS */

@media (max-width: 767px) {

    /* HEADER */

    .lj-logo a {
        margin-right: auto;
        margin-left: auto;
    }

    .lj-countdown div span {
        width: 115px;
    }

    /* MAIN */

    .lj-icon-box:first-child {
        padding: 0 20px;
        margin-top: 0;
    }

    .lj-icon-box {
        margin-top: 50px;
    }

    .lj-icon-box h2,
    .lj-icon-box p {

        margin: 20px auto 0;
        max-width: 480px;
    }

    /* FOOTER */

    .lj-mobile-socials {
        margin-top: 50px;
        text-align: center;
    }

    .lj-mobile-socials ul {
        display: inline-block;
        height: 50px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .lj-mobile-socials ul li {
        height: 50px;
        font-size: 3em;
        line-height: 50px;
        float: left;
        margin: 0 10px;
    }

    .lj-mobile-socials ul li a {
        color: #808080;
    }

    .lj-mobile-socials ul li a:hover {
        color: #00acee;
    }

    .lj-address:first-child,
    .lj-address {
        text-align: center;
    }

}

@media (max-width: 480px) {

    /* HEADER */

    .lj-countdown div span {
        margin: 0 10px;
    }

    .lj-countdown-ms {
        margin-top: 10px;
    }

    /* FOOTER */

    .lj-form input[type=text],
    .lj-form input[type=submit] {
        width: 100%;
        float: none;
    }

    .lj-form input[type=text] {
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
    }

    .lj-form input[type=submit] {
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
    }

    .lj-form form div {
        width: 90%;
        height: 100px;
    }
}
